.create-note {
  margin: 0 auto 0 auto;
  width: 22px;
  cursor: pointer;
  padding: 16px 16px 16px 16px;
  border-radius: 38px;
  text-align: center;
  background-color: darkmagenta;
}

i {
  font-size: 20px;
}
